<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Sign Up</title>
</head>
<body>
    <h1>Student Sign Up</h1>
    <form action="/submit" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="sin">SIN:</label>
            <input type="sin" id="sin" name="sin" required>
        </div>
        <div>
            <label for="Department">Department:</label>
            <input type="text" id="text" name="text" required>
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>
        </div>
        <button type="submit"><a href='/signin'>submit</a></button>
    </form>
</body>
</html>
