<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Sign Up</title>
    <style>
        body{
            background-color: pink;
            display: flex;
            justify-content: center;
            text-align: center;
            
        }
        div{
            padding-bottom: 10px;
        }
        button{
            cursor: pointer;
        }
        button:hover{
            background-color: gray;
        }
    </style>
</head>
<body>
    
    <form action="/stuform" method="post">
        <h1>Student Details</h1>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="sin">SIN:</label>
            <input type="sin" id="sin" name="sin" required>
        </div>
        <div>
            <label for="dep">Department:</label>
            <input type="text" id="dep" name="dep" required>
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>
        </div>
        <button  type="submit">submit</button>
    </form>
</body>
</html>
